<h2 class="page-header"><%= pool.title %></h2>
<div class="book-details">
  <div>
    <img class="book-cover" src="<%= pool.coverImagePath %>">
    <div class="book-details-btn-grid">
      <a class="btn btn-primary" href="/pools/<%= pool.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/pools/${pool.id}` }) %>
      <a class="btn btn-primary book-details-author-button" <% if(pool.owner) { %> href="/owners/<%= pool.owner.id %>"
          <% } else { %> href="#" <% } %>>
              View Owner Details
      </a>
    </div>
  </div>
  <div class="book-details-grid">
    <div class="book-details-label">Owner:</div>
    <div><%= pool.owner ? pool.owner.name : 'Owner Not Chosen or Deleted' %></div>
    <div class="book-details-label">Type of Pool:</div>
    <div><%= pool.type %></div>
    <div class="book-details-label">Status:</div>
    <div><%= pool.status %></div>
    <div class="book-details-label">Description:</div>
    <div><%= pool.description %></div>
  </div>
</div>