<h2 class="page-header">Search Owners</h2>
<form action="/owners" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Name</label>
      <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<% owners.forEach(owner=> { %>
  <div class="author-row">
    <div class="author-name">
      <%= owner.name %>
    </div>
    <div class="btn-row">
      <a class="btn btn-primary" href="/owners/<%= owner.id %>">View</a>
      <a class="btn btn-primary" href="/owners/<%= owner.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/owners/${owner.id}` }) %>
    </div>
  </div>
  <% }) %>