<h2 class="page-header">
  <%= owner.name %>
</h2>
<ul style="list-style-type:none;">
  <li><%= owner.number %></li>
  <li><%= owner.email %></li>
</ul>
<div class="btn-row">
  <a class="btn btn-primary" href="/owners/<%= owner.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm', { url: `/owners/${owner.id}` }) %>
</div>

<% if (poolsByOwner.length > 0) { %>
  <h2 class="page-header">Pools By Owner</h2>
  <%- include('../partials/ownerPoolsList', { pools: poolsByOwner }) %>
<% } %>